<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- {% block head %} {% endblock %} -->
	</head>
	<body>
		<header class="haeder-bg">
			<div class="logo">로고이미지</div>
			{% if check %}
				<div class="logout">
					<form action="/myInformation" >
						<input type="submit" value="마이페이지 가기" />
					</form>
					<h1>로그아웃하고 싶으면 아래 버튼을 눌러.</h1>
					<form action="/kakaoLogout" method="GET">
						<input type="submit" value="카카오로그아웃 및 연결 끊기" />
					</form>
				</div>
			{% else %}
				<div class= "login">
					<h1>카카오로 로그인 해주세요!</h1>
					<form action="/kakaoLoginLogic" method="GET">
						<input type="submit" value="카카오 로그인" />
					</form>
				</div>

			{% endif %}
		</header>

		<footer>
			<p>멋쟁이사자처럼</p>
		</footer>

		{% block content %} {% endblock %}
	</body>
</html>
